*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(image/background2.jpeg);
    font-family: 'Roboto', fantasy;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container{
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.register-container h2{
    margin-bottom: 20px;
}

.register-container input[type="text"],
.register-container input[type="password"],
.register-container input[type="email"],
.register-container input[type="submit"]{
    width: 100%;
    font-family: 'Roboto', fantasy;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-container input[type="submit"]{
    background-color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', fantasy;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.register-container input[type="submit"]:hover{
    color: #ffffff;
    background-color: rgb(44, 208, 244);
}

.register-container p{
    margin: 10px 0;
}

.register-container a{
    text-decoration: none;
    color: rgb(44, 208, 244);
    transition: 0.3s;
}

.register-container a:hover{
    color: darkorange;
}